@model IndexModel
@using WeddingShare.Enums
@using WeddingShare.Helpers
@using WeddingShare.Views.Admin
@inject WeddingShare.Helpers.IConfigHelper _config
@inject WeddingShare.Helpers.IGalleryHelper _gallery
@inject WeddingShare.Helpers.IEncryptionHelper _encryption
@inject WeddingShare.Helpers.IUrlHelper _url

@{
    var identityEnabled = _config.GetOrDefault("Settings:Identity_Check:Enabled", true);
    var link = _url.GenerateBaseUrl(Context?.Request, "/Gallery");
}

<section class="pb-0 pb-lg-0">
    <div class="container px-3 px-lg-1 my-1 pt-4 pt-lg-4">
        <div class="row">
            <div class="col-12 text-center">
                @if (!_config.GetOrDefault("Settings:Single_Gallery_Mode", false))
                {
                    <div class="mx-0 mx-sm-5 px-2 px-xl-5 text-success d-inline-block">
                        <i class="btnAddGallery fa-solid fa-calendar-plus fa-2x pointer" alt="@_localizer["Create"].Value"></i>
                        <h6>@_localizer["Create"].Value</h6>
                    </div>
                }
                @if (Model?.Galleries != null && Model.Galleries.Any())
                {
                    <div class="mx-0 mx-sm-5 px-2 px-xl-5 text-warning d-inline-block">
                        <i class="btnBulkReview fa-solid fa-thumbs-up fa-2x pointer" alt="@_localizer["Review"].Value"></i>
                        <h6>@_localizer["Review"].Value</h6>
                    </div>
                    @if (!string.Equals("mysql", _config.GetOrDefault("Settings:Database:Type", "sqlite"), StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="mx-0 mx-sm-5 px-2 px-xl-5 text-primary d-inline-block">
                            <i class="btnImport fa-solid fa-upload fa-2x pointer" alt="@_localizer["Import"].Value"></i>
                            <h6>@_localizer["Import"].Value</h6>
                        </div>
                        <div class="mx-0 mx-sm-5 px-2 px-xl-5 text-primary d-inline-block">
                            <i class="btnExport fa-solid fa-download fa-2x pointer" alt="@_localizer["Export"].Value"></i>
                            <h6>@_localizer["Export"].Value</h6>
                        </div>
                    }
                    <div class="mx-0 mx-sm-5 px-2 px-xl-5 text-danger d-inline-block">
                        <i class="btnWipeAllGalleries fa-solid fa-broom fa-2x pointer" alt="@_localizer["Wipe"].Value"></i>
                        <h6>@_localizer["Wipe"].Value</h6>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="pb-0 pb-lg-4">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Users"].Value: </h1>
            </div>
        </div>
        <div class="row">
            <div id="users-list" class="col-12">
                <partial name="~/Views/Admin/UsersList.cshtml" model="Model?.Users" />
            </div>
        </div>
    </div>
</section>

<section class="pb-0 pb-lg-4">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Galleries"].Value: </h1>
            </div>
        </div>
        <div class="row">
            <div id="available-galleries" class="col-12">
                <partial name="~/Views/Admin/AvailableGalleries.cshtml" model="Model?.Galleries" />
            </div>
        </div>
    </div>
</section>

<section class="pb-2 pb-lg-5">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Pending_Uploads"].Value: </h1>
            </div>
        </div>
        <div class="row">
            <div id="pending-reviews" class="col-12">
                <partial name="~/Views/Admin/PendingReviews.cshtml" model="Model?.PendingRequests" />
            </div>
        </div>
    </div>
</section>

<script src="~/js/admin.js" asp-append-version="true"></script>