@model IDictionary<string, string>?
@using WeddingShare.Constants
@using WeddingShare.Enums
@using WeddingShare.Extensions

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Alerts_Failed_Login_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Notifications.Alerts.FailedLogin">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Notifications.Alerts.FailedLogin.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Alerts_Failed_Login_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Alerts_Account_Lockout_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Notifications.Alerts.AccountLockout">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Notifications.Alerts.AccountLockout.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Alerts_Account_Lockout_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Alerts_Destructive_Action_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Notifications.Alerts.DestructiveAction">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Notifications.Alerts.DestructiveAction.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Alerts_Destructive_Action_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Alerts_Pending_Review_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Notifications.Alerts.PendingReview">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Notifications.Alerts.PendingReview.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Alerts_Pending_Review_Help"].Value</div>
        </div>
    </div>
}