@model IDictionary<string, string>?
@using WeddingShare.Constants
@using WeddingShare.Enums
@using WeddingShare.Extensions

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_BackgroundServices_DirectoryScanner_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@BackgroundServices.Schedules.DirectoryScanner" placeholder="*/30 * * * *" value="@Model.GetValue(BackgroundServices.Schedules.DirectoryScanner.ToUpper(), "*/30 * * * *")" type="text" />
            <div class="form-text">@_localizer["Settings_BackgroundServices_DirectoryScanner_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_BackgroundServices_EmailReport_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@BackgroundServices.Schedules.EmailReport" placeholder="0 0 * * *" value="@Model.GetValue(BackgroundServices.Schedules.EmailReport.ToUpper(), "0 0 * * *")" type="text" />
            <div class="form-text">@_localizer["Settings_BackgroundServices_EmailReport_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_BackgroundServices_Cleanup_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@BackgroundServices.Schedules.Cleanup" placeholder="0 4 * * *" value="@Model.GetValue(BackgroundServices.Schedules.Cleanup.ToUpper(), "0 4 * * *")" type="text" />
            <div class="form-text">@_localizer["Settings_BackgroundServices_Cleanup_Help"].Value</div>
        </div>
    </div>
}