@model IDictionary<string, string>?
@using WeddingShare.Constants
@using WeddingShare.Enums
@using WeddingShare.Extensions

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_BaseUrl_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.BaseUrl" placeholder="https://wedding-share.your-domain.com/" value="@Model.GetValue(Settings.Basic.BaseUrl.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Basic_BaseUrl_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_ForceHttps_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.ForceHttps">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Settings.Basic.ForceHttps.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_ForceHttps_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_SingleGalleryMode_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.SingleGalleryMode">
                @foreach (var option in ViewOptions.SingleGalleryMode)
                {
                    if (Model.GetValue(Settings.Basic.SingleGalleryMode.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_SingleGalleryMode_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_MaxGalleryCount_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.MaxGalleryCount" placeholder="1000000" value="@Model.GetValue(Settings.Basic.MaxGalleryCount.ToUpper(), "1000000")" type="number" min="1" max="@(int.MaxValue.ToString())" step="10" />
            <div class="form-text">@_localizer["Settings_Basic_MaxGalleryCount_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_GallerySelectorDropdown_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.GallerySelector.Dropdown">
                @foreach (var option in ViewOptions.GallerySelectorDropdown)
                {
                    if (Model.GetValue(Settings.GallerySelector.Dropdown.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_GallerySelectorDropdown_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_GallerySelectorHideDefault_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.GallerySelector.HideDefaultOption">
                @foreach (var option in ViewOptions.YesNoInverted)
                {
                    if (Model.GetValue(Settings.GallerySelector.HideDefaultOption.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_GallerySelectorHideDefault_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_HomeLink_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.HomeLink">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Settings.Basic.HomeLink.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_HomeLink_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_GuestGalleryCreation_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.GuestGalleryCreation">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Settings.Basic.GuestGalleryCreation.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_GuestGalleryCreation_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_HideKeyFromQRCode_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.HideKeyFromQRCode">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Settings.Basic.HideKeyFromQRCode.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_HideKeyFromQRCode_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_LinksOpenNewTab_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.LinksOpenNewTab">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Settings.Basic.LinksOpenNewTab.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_LinksOpenNewTab_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_ThumbnailSize_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.ThumbnailSize" placeholder="720" value="@Model.GetValue(Settings.Basic.ThumbnailSize.ToUpper(), "720")" type="number" min="100" step="50" />
            <div class="form-text">@_localizer["Settings_Basic_ThumbnailSize_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_EmailReport_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.EmailReport">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Settings.Basic.EmailReport.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_EmailReport_Help"].Value</div>
        </div>
    </div>
}