@model IDictionary<string, string>?
@using WeddingShare.Constants
@using WeddingShare.Enums
@using WeddingShare.Extensions

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Enabled_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Notifications.Smtp.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Notifications.Smtp.Enabled.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Smtp_Enabled_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Recipient_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.Recipient" placeholder="name1@your-domain.com,name2@your-domain.com" value="@Model.GetValue(Notifications.Smtp.Recipient.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Smtp_Recipient_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Host_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.Host" placeholder="smtp.your-domain.com" value="@Model.GetValue(Notifications.Smtp.Host.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Smtp_Host_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Port_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.Port" placeholder="587" value="@Model.GetValue(Notifications.Smtp.Port.ToUpper(), "587")" type="number" min="0" />
            <div class="form-text">@_localizer["Settings_Smtp_Port_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Username_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.Username" placeholder="username" value="@Model.GetValue(Notifications.Smtp.Username.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Smtp_Username_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Password_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.Password" placeholder="password" value="@Model.GetValue(Notifications.Smtp.Password.ToUpper(), string.Empty)" type="password" />
            <div class="form-text">@_localizer["Settings_Smtp_Password_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_From_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.From" placeholder="no-reply@your-domain.com" value="@Model.GetValue(Notifications.Smtp.From.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Smtp_From_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Display_Name_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Notifications.Smtp.DisplayName" placeholder="WeddingShare" value="@Model.GetValue(Notifications.Smtp.DisplayName.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Smtp_Display_Name_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Smtp_Use_SSL_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Notifications.Smtp.UseSSL">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(Notifications.Smtp.UseSSL.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Smtp_Use_SSL_Help"].Value</div>
        </div>
    </div>
}