@model WeddingShare.Models.PhotoGallery
@using WeddingShare.Views.Home
@inject WeddingShare.Helpers.IConfigHelper _config

@{
    var singleGalleryMode = _config.GetOrDefault("Settings:Single_Gallery_Mode", false);
}
<section class="py-1 py-lg-5">
    <div class="container px-3 px-lg-1 my-3 mt-lg-1">
        <div class="card">
            <div class="card-header">
                <h1 class="display-6">@_localizer["Gallery_Selector_Title"].Value</h1>
            </div>
            <div class="card-body m-1 m-lg-5">
                <form id="frmSelectGallery">
                    @Html.AntiForgeryToken()

                    @if (!singleGalleryMode)
                    {
                        <div class="input-group">
                            <input type="text" id="gallery-id" class="form-control" aria-describedby="gallery-id-help" placeholder="@_localizer["Gallery_Name_Placeholder"].Value" aria-label="@_localizer["Gallery_Name"].Value" />
                            @if (_config.GetOrDefault("Settings:Guest_Gallery_Creation", false) || (User?.Identity != null && User.Identity.IsAuthenticated))
                            {
                                <input type="button" id="btnGenerateGalleryName" class="btn btn-outline-success" value="@_localizer["Generate"].Value" />
                            }
                        </div>
                        <div id="gallery-id-help" class="form-text mb-4 mb-lg-5">
                            @_localizer["Gallery_Name_Help"].Value
                        </div>
                    }
                    else
                    {
                        <input type="hidden" id="gallery-id" value="default" />
                    }

                    <input type="text" id="gallery-key" class="form-control" aria-describedby="gallery-key-help" placeholder="@_localizer["Gallery_Key_Placeholder"].Value" aria-label="@_localizer["Gallery_Key"].Value" />
                    <div id="gallery-key-help" class="form-text mb-4 mb-lg-5">
                        @_localizer["Gallery_Key_Help"].Value
                    </div>

                    <div class="d-grid gap-2">
                        <button id="btnVisitGallery" class="btn btn-primary" type="submit">@_localizer["Visit"].Value</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>