@model WeddingShare.Models.FileUploader
@using WeddingShare.Views.Shared
@inject WeddingShare.Helpers.IGalleryHelper _gallery

@{
    var allowedFileTypes = _gallery.GetConfig(Model?.GalleryId, "Gallery:Allowed_File_Types", ".jpg,.jpeg,.png,.mp4,.mov")?.Split(',', StringSplitOptions.TrimEntries | StringSplitOptions.RemoveEmptyEntries)?.Select(x => $".{x.Trim('.')}")?.OrderBy(x => x)?.ToList() ?? new List<string>();
}

<header class="file-uploader bg-dark py-1 py-lg-4">
    <div class="container px-0 px-lg-2">
        <form id="frmFileUpload" data-identity-required="@(((Model?.IdentityRequired ?? false) && string.IsNullOrWhiteSpace(Context?.Session?.GetString(SessionKey.ViewerIdentity))).ToString().ToLower())">
            @Html.AntiForgeryToken()

            <fieldset class="upload_drop text-center p-4 text-center text-white">
                <svg class="upload_svg" width="60" height="60" aria-hidden="true">
                    <use href="#icon-image-upload"></use>
                </svg>

                <h2 class="strong my-2">@_localizer["Upload_Media"].Value</h2>
                <p class="small my-2">@(ViewBag.IsMobile ?? false ? _localizer["Click_To_Upload"].Value : _localizer["Drag_And_Drop"].Value)</p>
                <p class="small my-2">(@string.Join(", ", allowedFileTypes).ToLower())</p>

                <input data-post-gallery-id="@Model?.GalleryId" data-post-url="@Model?.UploadUrl" data-post-key="@Model?.SecretKey" class="position-absolute invisible" type="file" multiple accept="image/*,video/*" />
            </fieldset>
        </form>
    </div>
</header>

<svg style="display:none">
    <defs>
        <symbol id="icon-image-upload" clip-rule="evenodd" viewBox="0 0 96 96">
            <path d="M47 6a21 21 0 0 0-12.3 3.8c-2.7 2.1-4.4 5-4.7 7.1-5.8 1.2-10.3 5.6-10.3 10.6 0 6 5.8 11 13 11h12.6V22.7l-7.1 6.8c-.4.3-.9.5-1.4.5-1 0-2-.8-2-1.7 0-.4.3-.9.6-1.2l10.3-8.8c.3-.4.8-.6 1.3-.6.6 0 1 .2 1.4.6l10.2 8.8c.4.3.6.8.6 1.2 0 1-.9 1.7-2 1.7-.5 0-1-.2-1.3-.5l-7.2-6.8v15.6h14.4c6.1 0 11.2-4.1 11.2-9.4 0-5-4-8.8-9.5-9.4C63.8 11.8 56 5.8 47 6Zm-1.7 42.7V38.4h3.4v10.3c0 .8-.7 1.5-1.7 1.5s-1.7-.7-1.7-1.5Z M27 49c-4 0-7 2-7 6v29c0 3 3 6 6 6h42c3 0 6-3 6-6V55c0-4-3-6-7-6H28Zm41 3c1 0 3 1 3 3v19l-13-6a2 2 0 0 0-2 0L44 79l-10-5a2 2 0 0 0-2 0l-9 7V55c0-2 2-3 4-3h41Z M40 62c0 2-2 4-5 4s-5-2-5-4 2-4 5-4 5 2 5 4Z" />
        </symbol>
    </defs>
</svg>