@using WeddingShare.Enums
@inject WeddingShare.Helpers.IConfigHelper _config
@inject WeddingShare.Helpers.IGalleryHelper _gallery
@{
    var galleryId = (!string.IsNullOrWhiteSpace(ViewBag.GalleryId) ? ViewBag.GalleryId : "_").Trim().ToUpper();
    var title = _gallery.GetConfig(galleryId, "Title", "WeddingShare");
    var logo = _gallery.GetConfig(galleryId, "Logo", "/images/logo.png");
    var viewMode = ViewBag.ViewMode != null ? ViewBag.ViewMode : ViewMode.Default;

    string theme;
    try
    {
        switch (Context?.Request?.Cookies["Theme"]?.Trim()?.ToLower() ?? _config.GetOrDefault("Settings:Default_Theme", "default"))
        {
            case "dark":
                theme = "dark";
                break;
            default:
                theme = "default";
                break;
        }
    }
    catch
    {
        theme = "default";
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>@title</title>
        
        <link rel="icon" type="image/png" href="@logo" />
        <link rel="stylesheet" href="~/css/bootstrap-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/template.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/media-viewer.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery.loading.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fontawesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fontawesome.regular.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fontawesome.solid.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fontawesome.brands.min.css" asp-append-version="true" />
        @if (!string.Equals("default", theme, StringComparison.OrdinalIgnoreCase))
        {
            <link rel="stylesheet" href="~/css/themes/@(theme).css" asp-append-version="true" />
        }
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-loading/jquery.loading.min.js"></script>
        <script src="~/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
        <script src="~/lib/fontawesome/fontawesome.regular.min.js"></script>
        <script src="~/lib/fontawesome/fontawesome.solid.min.js"></script>
        <script src="~/lib/fontawesome/fontawesome.brands.min.js"></script>
        <script src="~/js/lang/localization.js"></script>
        <script src="~/js/lang/@(WeddingShare.Configurations.LocalizationConfiguration.CurrentCulture).js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/popup.js" asp-append-version="true"></script>
        <script src="~/js/media-viewer.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg">
            <div class="container px-3 px-lg-5 @(viewMode == ViewMode.Presentation || viewMode == ViewMode.Slideshow ? "justify-content-center" : string.Empty)">
                <a class="navbar-brand" href="@(!_config.GetOrDefault("Settings:Disable_Home_Link", false) ? "/" : "#")">
                    <img class="navbar-logo" src="@logo" />
                    <span class="navbar-title">@title</span>
                </a>
                
                @if (viewMode != ViewMode.Presentation && viewMode != ViewMode.Slideshow)
                {
                    <div class="presentation-hidden">
                        <div class="mx-0 mx-lg-4 my-1 float-start">
                            @if (!_config.GetOrDefault("Settings:Disable_Themes", false))
                            {
                                <i class="change-theme fa-solid @(string.Equals("default", theme, StringComparison.OrdinalIgnoreCase) ? "fa-moon" : "fa-sun") fa-1x text-secondary pointer mx-2"></i>
                            }
                            @if (_config.GetOrDefault("Settings:Show_Identity_Request", true) && !string.IsNullOrWhiteSpace(Context?.Session?.GetString("ViewerIdentity")))
                            {
                                <i class="change-identity fa-solid fa-id-card fa-1x text-secondary pointer mx-2" data-identity="@Context.Session.GetString("ViewerIdentity")"></i>
                            }
                        </div>
                        <div class="profile-icon my-1 m-lg-0 float-end">
                            @if (_config.GetOrDefault("Settings:Account:Show_Profile_Icon", true))
                            {
                                if (!string.IsNullOrWhiteSpace(Context.Request.Path.Value) && Context.Request.Path.Value.Contains("/Admin", StringComparison.OrdinalIgnoreCase) && !Context.Request.Path.Value.Contains("/Login", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="@Url.Action("Logout", "Admin")">
                                        <i class="fa-solid fa-door-open fa-2x text-danger"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Admin")">
                                        <i class="fa-solid fa-circle-user fa-2x text-secondary"></i>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                }
                else
                {
                    <script>
                        (function () {
                            document.addEventListener('DOMContentLoaded', function () {
                                var presentationTimeout = setTimeout(function () {
                                    $('.presentation-hidden').fadeOut(500);
                                    $('body').css('cursor', 'none');
                                }, 1000);

                                $(document).off('mousemove').on('mousemove', function () {
                                    $('.presentation-hidden').fadeIn(200);
                                    $('body').css('cursor', 'default');

                                    clearTimeout(presentationTimeout);
                                    presentationTimeout = setTimeout(function () {
                                        $('.presentation-hidden').fadeOut(500);
                                        $('body').css('cursor', 'none');
                                    }, 1000);
                                });
                            });
                        })();
                    </script>
                }
            </div>
        </nav>
        
        <!-- Body -->
        <div id="main-wrapper">
            @{
                try
                {
                    var errorMessage = ViewBag.ErrorMessage;
                    if (!string.IsNullOrWhiteSpace(errorMessage))
                    {
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            <div>
                                @errorMessage
                            </div>
                        </div>
                    }
                }
                catch { }
            }

            @RenderBody()
        </div>

        <partial name="~/Views/Shared/_Modals.cshtml" model="null" />

        @if (_config.GetOrDefault("Settings:Show_Identity_Request", true) && string.IsNullOrWhiteSpace(Context?.Session?.GetString("ViewerIdentity")))
        {
            <script>
                displayIdentityCheck();
            </script>
        }

        <!-- Footer -->
        <footer class="py-1">
            <div class="container">
                <p class="m-0 text-white">
                    <span class="float-none">
                        <a class="text-link text-light" href="https://github.com/Cirx08/WeddingShare" title="Copyright Cirx08" target="_blank"><i class="fa-brands fa-github"></i> WeddingShare v@_config.GetOrDefault("Release:Version", "1.0.0") &copy; Copyright Cirx08 @DateTime.UtcNow.Year</a>
                    </span>

                    @if (string.Equals("/images/logo.png", _config.GetOrDefault("Settings:Logo", "/images/logo.png"), StringComparison.OrdinalIgnoreCase))
                    {
                        <span class="float-end">
                            <a class="text-link text-light" href="https://www.flaticon.com/free-icon/wedding-couple_703213" title="bride icons" target="_blank">Freepik - Flaticon</a>
                        </span>
                    }
                </p>
            </div>
        </footer>
        
        <!-- JS -->
        @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>