@inject WeddingShare.Helpers.IConfigHelper _config
@{
    var title = _config.GetOrDefault("Settings:SiteName", "Wedding Share");
    var logo = _config.GetOrDefault("Settings:Logo", "/images/logo.png");
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>@title</title>
        
        <link rel="icon" type="image/png" href="@logo" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/template.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery.loading.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery.lightbox.min.css" asp-append-version="true" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#">
                    <img class="navbar-logo" src="@logo" />
                    <span class="navbar-title">@title</span>
                </a>
            </div>
        </nav>
        
        <!-- Body -->
        <div id="main-wrapper">
            @{
                try
                {
                    var errorMessage = ViewBag.ErrorMessage;
                    if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            <div>
                                @errorMessage
                            </div>
                        </div>
                    }
                }
                catch { }
            }

            @RenderBody()
        </div>

        <partial name="~/Views/Shared/_Modals.cshtml" model="null" />

        <!-- Footer -->
        <footer class="py-1 bg-dark">
            <div class="container">
                <p class="m-0 text-white">
                    <span class="float-none">&copy; Copyright Cirx08 @DateTime.UtcNow.Year</span>
                    <span class="float-end">v1.0.0</span>
                </p>
            </div>
        </footer>
        
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-lightbox/lightbox-plus-jquery.min.js"></script>
        <script src="~/lib/jquery-loading/jquery.loading.min.js"></script>
        <script src="~/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
        <script src="~/js/template.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>