@using WeddingShare.Views.Shared
@inject Microsoft.Extensions.Localization.IStringLocalizer<ModalsModel> _localizer

<div id="alert-message-modal" class="modal pt-lg-4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Default"].Value</h5>
            </div>
            <div class="modal-body modal-message"></div>
            <div class="modal-body modal-error" display="none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-reload" data-dismiss="modal">@_localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>

<div id="add-gallery-modal" class="modal pt-lg-4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Create"].Value</h5>
            </div>
            <div class="modal-body">
                <div class="row pb-4">
                    <div class="col-12">
                        <label for="gallery-name">@_localizer["Gallery_Name"].Value</label>
                        <input type="text" id="gallery-name" class="form-control" aria-describedby="gallery-name-help" placeholder="" aria-label="@_localizer["Gallery_Name"].Value" />
                        <div id="gallery-key-help" class="form-text">
                            @_localizer["Gallery_Name_Help"].Value
                        </div>
                    </div>
                </div>

                <div class="row pb-4">
                    <div class="col-12">
                        <label for="gallery-name">@_localizer["Gallery_Key"].Value</label>
                        <input type="text" id="gallery-key" class="form-control" aria-describedby="gallery-key-help" placeholder="" aria-label="@_localizer["Gallery_Key"].Value" />
                        <div id="gallery-key-help" class="form-text">
                            @_localizer["Gallery_Key_Help"].Value
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-success col-12 btnCreate" data-dismiss="modal">@_localizer["Create"].Value</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary col-12 btnDismissPopup" data-dismiss="modal">@_localizer["Cancel"].Value</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-gallery-modal" class="modal pt-lg-4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Update"].Value</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="gallery-id" />

                <div class="row pb-4">
                    <div class="col-12">
                        <label for="gallery-name">@_localizer["Gallery_Name"].Value</label>
                        <input type="text" id="gallery-name" class="form-control" aria-describedby="gallery-name-help" placeholder="" aria-label="@_localizer["Gallery_Name"].Value" />
                        <div id="gallery-key-help" class="form-text">
                            @_localizer["Gallery_Name_Help"].Value
                        </div>
                    </div>
                </div>

                <div class="row pb-4">
                    <div class="col-12">
                        <label for="gallery-name">@_localizer["Gallery_Key"].Value</label>
                        <input type="text" id="gallery-key" class="form-control" aria-describedby="gallery-key-help" placeholder="" aria-label="@_localizer["Gallery_Key"].Value" />
                        <div id="gallery-key-help" class="form-text">
                            @_localizer["Gallery_Key_Help"].Value
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-success col-12 btnUpdate" data-dismiss="modal">@_localizer["Update"].Value</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary col-12 btnDismissPopup" data-dismiss="modal">@_localizer["Cancel"].Value</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-gallery-modal" class="modal pt-lg-4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Delete"].Value</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="gallery-id" />

                <div class="row pb-4">
                    <div class="col-12">
                        <label for="gallery-name">@_localizer["Gallery_Name"].Value</label>
                        <input type="text" id="gallery-name" class="form-control" aria-describedby="gallery-name-help" placeholder="" aria-label="@_localizer["Gallery_Name"].Value" disabled="disabled" />
                    </div>
                </div>

                <div class="row pb-4">
                    <div class="col-12">@_localizer["Delete_Confirmation"].Value</div>
                </div>
                
                <div class="row pt-3">
                    <div class="col-6">
                        <button type="button" class="btn btn-danger col-12 btnDelete" data-dismiss="modal">@_localizer["Delete"].Value</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary col-12 btnDismissPopup" data-dismiss="modal">@_localizer["Cancel"].Value</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>