@using WeddingShare.Views.Shared
@inject Microsoft.Extensions.Localization.IStringLocalizer<PhotoGalleryModel> _localizer
@model WeddingShare.Models.PhotoGallery
@{
    var columnCount = Model.ColumnCount;

    try
    {
        var dd = new DeviceDetectorNET.DeviceDetector(Context.Request.Headers["User-Agent"].ToString());
        dd.Parse();

        if (dd.IsMobile())
        {
            columnCount = 1;
        }
        else
        {
            while (12 % columnCount != 0)
            {
                columnCount--;
            }
        }
    }
    catch { }
}

@if (Model.Images != null && Model.Images.Any())
{
    <!-- Gallery -->
    <div class="row">
        @for (var columnIndex = 0; columnIndex < columnCount; columnIndex++)
        {
            <div class="@($"col-lg-{12 / columnCount}") col-md-6 col-sm-12 mb-4 mb-lg-0">
                @{
                    var index = columnIndex;
                    while (index < Model.Images.Count())
                    {
                        <a href="@Model.GalleryPath/@Model.Images[index]" data-lightbox="@Model.GalleryId">
                            <img src="@Model.GalleryPath/@Model.Images[index]" class="w-100 shadow-1-strong rounded mb-4" alt="" />
                        </a>
                        index += columnCount;
                    }
                }
            </div>
        }
    </div>
    <!-- Gallery -->
}
else
{
    <div class="row mt-5 pt-5">
        <div class="col-12 text-center">
            <h3 class="display-6">@_localizer["Gallery_Empty"].Value</h3>
        </div>
    </div>
}