@model WeddingShare.Models.PhotoGallery

@using WeddingShare.Enums
@using WeddingShare.Views.Gallery.Modes
@inject WeddingShare.Helpers.IConfigHelper _config

@{
    var slideshowInterval = TimeSpan.FromSeconds(_config.GetOrDefault("Settings:Slideshow:Interval", 10)).TotalMilliseconds;
    var slideshowFade = _config.GetOrDefault("Settings:Slideshow:Fade", 500);
    var slideLimit = _config.GetOrDefault("Settings:Slideshow:Limit", int.MaxValue);
    var identityEnabled = _config.GetOrDefault("Settings:Identity_Check:Enabled", true);

    if (Model?.Images != null)
    {
        <div class="slideshow col-12">
            @foreach (var image in Model.Images.Take(slideLimit))
            {
                <div class="slideshow-slide">
                    <img src="@image.ImagePath" class="slideshow-slide-img shadow-1-strong" loading="lazy" />
                    @if (identityEnabled)
                    {
                        <h6 class="credits">@_localizer["Uploaded_By"].Value: @(!string.IsNullOrWhiteSpace(image?.UploadedBy) ? image.UploadedBy : "Anonymous")</h6>
                    }
                </div>
            }

            @if (_config.GetOrDefault("Settings:Slideshow:Include_Share_Slide", true))
            {
                <div class="slideshow-slide">
                    <span class="slideshow-slide-img share-slide"></span>
                    <h6 class="credits">@_localizer["Scan_To_Share"].Value</h6>
                </div>
            }
        </div>
    }
}

@if (Model?.LoadScripts ?? true)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () { 
            $(function () {

                $(window).off('resize').on('resize', function () {
                    setTimeout(function () {
                        init();
                    }, 200);
                });

                function init() {
                    var windowHeight = $(window).outerHeight();
                    var headerHeight = $('.navbar').outerHeight();
                    var footerHeight = $('footer').outerHeight();
                    var creditsHeight = $('.credits').length > 0 ? 20 : 0;
                    var reviewCounterHeight = $('.review-counter').length > 0 ? $('.review-counter').outerHeight() + 70 : 50;
                    var slideHeight = windowHeight - (headerHeight + footerHeight + reviewCounterHeight + creditsHeight);

                    $('.slideshow .slideshow-slide .share-slide').qrcode({ width: slideHeight, height: slideHeight, text: '@Html.Raw(ViewBag.QRCodeLink)' });

                    $('.slideshow').height(slideHeight);
                    $('.slideshow .slideshow-slide').each(function (index) {
                        $(this).attr('data-slide-index', index);
                    });
                    $('.slideshow .slideshow-slide[data-slide-index="0"]').show();

                    var currentSlide = 0;
                    var fadeInterval = @slideshowFade;
                    clearInterval(slidetimer);
                    var slidetimer = setInterval(function () {
                        currentSlide++;

                        if (currentSlide >= $('.slideshow .slideshow-slide').length) {
                            $.ajax({
                                type: 'GET',
                                url: `${window.location.pathname}${window.location.search}&partial=true`,
                                success: function (data) {
                                    $('#main-gallery').html(data);
                                    init();
                                }
                            });
                        }

                        $('.slideshow-slide').fadeOut(fadeInterval);
                        clearTimeout(transitionTimer);
                        var transitionTimer = setTimeout(function () {
                            $(`.slideshow-slide[data-slide-index="${currentSlide}"]`).fadeIn(fadeInterval);
                        }, fadeInterval);
                    }, @slideshowInterval);
                }
                init();

            });
        }, false);
    </script>
}