@model WeddingShare.Views.Gallery.GalleryPaginationModel
@using System.Web

@{
    var queryString = HttpUtility.ParseQueryString(Context.Request.QueryString.ToString());
    queryString.Remove("page");
    queryString.Remove("Page");

    var pageUrl = $"/{Context.Request.Path.ToString()?.TrimStart('/')?.TrimEnd('?')}?{queryString.ToString()?.TrimStart('?')}";
}

@if (Model.LastPage > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > Model.FirstPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@($"{pageUrl}&page={Model.CurrentPage - 1}")" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (var i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : string.Empty)"><a class="page-link" href="@($"{pageUrl}&page={i}")">@i</a></li>
            }

            @if (Model.CurrentPage < Model.LastPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@($"{pageUrl}&page={Model.CurrentPage + 1}")" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}